body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.icon {
  height: 2.5em;
  width: 2.5em;
}

.nav-bar {
  width: 100%;
  display: flex;
}
.arrow {
  height: 2.5em;
  width: 2.5em;
  transform: scaleX(-1);
  position: fixed;
  margin: 1em 0 0 0.5em;
  cursor: pointer;
}
.station_name {
  margin-top: 2em;
  background-color: white;
  padding: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0.075rem 0.03rem 0.3rem;
  border-radius: 0.5em;
  font-size: large;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  min-width: 2em;
  text-align: center;
}
.bus_name {
  margin-top: 2em;
  background-color: white;
  padding: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0.075rem 0.03rem 0.3rem;
  border-radius: 0.5em;
  font-size: large;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  min-width: 2em;
  text-align: center;
  display: none;
}
.btngroup {
  margin-top: 3em;
  display: grid;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .btngroup {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 900px) {
  .btngroup {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  .btngroup {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.topnav {
  text-align: center;
  background-color: #c3c3c3c1;
  height: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.topnav input {
  background-color: rgb(244, 243, 243);
  padding: 0.7em;
  width: 17em;
  border: none;
  border-radius: 0.5em;
  font-size: 17px;
  box-shadow: rgba(0, 0, 0, 0.35) 0.075rem 0.03rem 0.3rem;
}

.btn {
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(40, 40, 40);
  background-color: #fbfbfb;
  margin: 0.4em 0.4em 0.4em 0.4em;
  height: 2.7em;
  width: 16em;
  border: none;
  border-width: 0.1em;
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0.075rem 0.03rem 0.3rem;
  cursor: pointer;
}
.btn:hover {
  background-color: #d4d4d4;
}

.stops {
  height: 100%;
  padding: 0;
  margin: 2em;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 3em;
  grid-gap: 0.5em;
  align-items: center;
  /* background-color: green; */
}
.stop {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* background-color: yellow; */
  color: black !important;
  align-self: center;
  text-align: center;
  margin: 1em;
  border: none;
  min-width: 3em;
  padding: 1em;
  border-width: 0.1em;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0.075rem 0.03rem 0.3rem;
}
.stop:hover {
  background-color: rgb(148, 148, 148) !important;
}

.dir-p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 1em 0 0em 0;
  background-color: rgba(210, 210, 210, 255);
  padding: 1em;
  border-radius: 20px;
}
.drop_down {
  position: relative;
  visibility: hidden;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: white;
  color: black !important;
  align-self: center;
  text-align: center;
  margin: 1em;
  border: none;
  box-shadow: rgba(82, 82, 82, 0.35) 0.075rem 0.03rem 0.3rem;
  min-width: 20rem;
  min-height: 10rem;
  padding: 1em;
  position: absolute;
  top: 12em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
}
.direction {
  background-color: green;
}
.dirName {
  margin: 1em 0 1em 0;
}
/* .row {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  background-color: yellow;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
} */
.arrow_drop {
  position: relative;
  left: -9.5em;
  top: 0.2em;
  width: 1.5em;
  transform: scaleX(-1);
  margin: 0;
  cursor: pointer;
}

.more-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-t {
  background-color: rgb(84, 180, 53);
  width: 2.5em;
  padding: 0.5em;
  margin: 0;
  border-radius: 10px;
  box-shadow: rgba(82, 82, 82, 0.35) 0.075rem 0.03rem 0.5rem;
  margin-bottom: 1.5em;
}
.info-a {
  background-color: white;
  color: rgb(84, 180, 53);
  width: 8em;
  padding: 0.5em;
  margin: 0;
  border-radius: 10px;
  box-shadow: rgba(82, 82, 82, 0.35) 0.075rem 0.03rem 0.5rem;
}

@media only screen and (min-width: 200px) {
  .stops {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 400px) {
  .stops {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 600px) {
  .stops {
    grid-template-columns: repeat(5, 1fr);
  }
}
/* @media only screen and (min-width: 1000px) {
  .stops {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
  .stops {
    grid-template-columns: repeat(10, 1fr);
  }
} */
